:root {
  /* Color */
  --color-red: #ca0013;
  --color-charcoal: #111111;
  --color-black: #000000;
  --color-grey-900: #191919;
  --color-grey-700: #433b3a;
  --color-grey-500: #706058;
  --color-cream: #ebe6de;
  --color-white: #ffffff;
  --color-orange: #ce620a;

  /* Space */
  --space-2: 2px;
  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-64: 64px;
  --space-80: 80px;
  --space-96: 96px;
  --space-120: 120px;

  /* Nav */
  --nav-height-mobile: var(--space-80);
  --nav-height-desktop: var(--space-120);

  /* Ribbons */
  --ribbon-rate: 0.7;
  --ribbon-scale: 3.8;
  --ribbon-min-width: 4000px;
  --ribbon-position-x: 55%;

  @media (min-width: 768px) {
    --ribbon-position-x: center;
  }

  /* Layout */
  --layout-max-width: 1200px;
  --layout-padding-x: var(--space-32);
  --layout-padding-y: var(--space-80);

  @media (min-width: 768px) {
    --layout-padding-x: var(--space-64);
    --layout-padding-y: var(--space-120);
  }

  /* Headings */

  /* fluid -  390px → 1200px */
  --heading1-size-fluid: clamp(40px, calc(25.56px + 3.704vw), 70px);
  --heading1-line-height-fluid: clamp(44px, calc(25.76px + 4.504vw), 74px);
  --heading2-size-fluid: clamp(36px, calc(24.44px + 2.963vw), 60px);
  --heading2-line-height-fluid: clamp(40px, calc(20.74px + 4.815vw), 64px);
  --heading3-size-fluid: clamp(30px, calc(25.19px + 1.235vw), 40px);
  --heading3-line-height-fluid: clamp(34px, calc(24.37px + 2.469vw), 44px);
  --heading4-size-fluid: clamp(20px, calc(18.56px + 0.37vw), 22px);
  --heading4-line-height-fluid: clamp(26px, calc(21.19px + 0.741vw), 30px);

  --heading1-size: 40px;
  --heading1-line-height: 44px;
  --heading2-size: 36px;
  --heading2-line-height: 40px;
  --heading3-size: 30px;
  --heading3-line-height: 34px;
  --heading4-size: 20px;
  --heading4-line-height: 26px;

  @media (min-width: 768px) {
    --heading1-size: 70px;
    --heading1-line-height: 74px;
    --heading2-size: 60px;
    --heading2-line-height: 64px;
    --heading3-size: 40px;
    --heading3-line-height: 44px;
    --heading4-size: 22px;
    --heading4-line-height: 30px;
  }

  /* Text */

  /* fluid -  390px → 1200px */
  --text-xxlarge-size-fluid: clamp(20px, calc(19.04px + 0.246vw), 22px);
  --text-xxlarge-line-height-fluid: clamp(30px, calc(27.11px + 0.741vw), 36px);
  --text-xlarge-size-fluid: clamp(18px, calc(16.07px + 0.494vw), 22px);
  --text-xlarge-line-height-fluid: clamp(26px, calc(21.18px + 1.235vw), 36px);

  /* static */
  --text-xxlarge-size: 20px;
  --text-xxlarge-line-height: 30px;
  --text-xlarge-size: 18px;
  --text-xlarge-line-height: 26px;
  --text-large-size: 18px;
  --text-large-line-height: 26px;
  --text-medium-size: 16px;
  --text-medium-line-height: 24px;
  --text-small-size: 14px;
  --text-small-line-height: 20px;
  --text-overline-size: 16px;
  --text-overline-line-height: 24px;

  @media (min-width: 768px) {
    --text-xxlarge-size: 22px;
    --text-xxlarge-line-height: 36px;
    --text-xlarge-size: 22px;
    --text-xlarge-line-height: 36px;
  }

  /* Radius */
  --radius-small: 3px;
  --radius-medium: 6px;
  --radius-large: 10px;

  /* Button  */
  --button-large-size: 16px;
  --button-large-line-height: 20px;
  --button-medium-size: 16px;
  --button-medium-line-height: 20px;

  @media (min-width: 768px) {
    --button-large-size: 18px;
    --button-large-line-height: 22px;
  }

  /* Badge  */
  --badge-size: 14px;
  --badge-line-height: 18px;
}
