.hero {
  position: relative;
  color: #eeebe3;
  height: 100svh;
  min-height: 560px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sectionInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-32);
}

.headlineGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-32);

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

.headlineGroup span {
  display: block;
  white-space: nowrap;
}

.logoWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    flex: 1;
  }
}

.logo {
  display: block;
  width: auto;
  transform-origin: center center;
  will-change: transform;
}

.copyGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-32);
}

.copy {
  max-width: 520px;
  color: var(--color-cream);
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-16);
}

.trusted {
  margin-top: var(--layout-padding-y);
}
