.heroSection {
  position: relative;
  color: #eeebe3;
  min-height: 690px;
  display: flex;
  align-items: center;
  /* overflow: hidden; */

  @media (min-width: 768px) {
    min-height: 740px;
    height: calc(100svh - var(--nav-height-desktop));
  }

  @media (max-width: 768px) {
    padding-top: 0;
  }
}

.heroSectionInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-24);

  @media (min-width: 1024px) {
    gap: 0;
  }
}

.heroHeadlineGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-24);

  @media (min-width: 1024px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

.heroHeadlineGroup span {
  display: block;
  /* white-space: nowrap; */
}

.heroLogoWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    flex: 1;
  }
}

.heroHeading {
  --hero-size-fluid: clamp(34px, calc(16.67px + 4.444vw), 70px);
  --hero-line-height-fluid: clamp(38px, calc(20.67px + 4.444vw), 74px);

  width: 100%;
  max-width: 700px;
  text-wrap: balance;
  font-size: var(--hero-size-fluid);
  line-height: var(--hero-line-height-fluid);
}

.heroCopyGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-32);
}

.heroCopy {
  max-width: 520px;
  color: var(--color-cream);
}

.heroButtonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-16);
}

.heroButtonGroup a {
  @media (max-width: 768px) {
    font-size: 16px !important;
    padding: 16px;
  }
}

.heroTrusted {
  margin-top: calc(var(--space-80) - var(--space-24));

  @media (min-width: 1024px) {
    margin-top: var(--space-80);
  }
}
