.logo {
  /* fluid -  390px → 1200px */
  --logo-width-fluid: clamp(175px, calc(121.56px + 13.704vw), 286px);

  display: block;
  width: var(--logo-width-fluid);
  transform-origin: center center;
  will-change: transform;
}
