.rollingLogo {
  /* fluid -  390px → 1200px */
  --logo-width-fluid: clamp(135px, calc(62.3px + 18.642vw), 286px);

  display: block;
  width: var(--logo-width-fluid);
  transform-origin: center center;
  will-change: transform;
}
