.venuesVenues {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(17, 17, 17, 0.8) 37.5%,
    rgba(17, 17, 17, 0) 100%
  );
}

.venuesSurface {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  width: 100%;
  max-width: 900px;
  margin-inline: auto;
  padding-block: var(--space-32);
  border-radius: var(--radius-large);
  /* background: var(--color-cream); */
  background: rgba(255, 250, 242, 0.8);

  @media (min-width: 768px) {
    gap: var(--space-40);
    padding: var(--space-80) var(--space-64);
  }
}

.venuesTitle {
  color: var(--color-charcoal);
  text-align: center;
}

.venuesCardGroup {
  display: flex;
  gap: var(--space-16);
  margin-inline: calc(-1 * var(--layout-padding-x));
  padding-inline: calc(var(--layout-padding-x) + var(--space-16));
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;

  @media (min-width: 768px) {
    gap: var(--space-32);
    margin-inline: 0;
    padding-inline: 0;
    overflow-x: visible;
    overflow-y: visible;
  }
}

.venuesCardGroup::-webkit-scrollbar {
  display: none;
}

.venuesCardReveal {
  display: flex;
  /* flex: 0 0 244px; */

  flex: 1 1 0;
  @media (min-width: 768px) {
  }
}

.venuesCard {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
  padding: var(--space-16);
  overflow: hidden;
  border-bottom: 1px solid var(--color-grey-700);
  border-radius: var(--radius-large);
  background-position: center;
  background-size: cover;

  @media (min-width: 768px) {
    padding: var(--space-24);
  }
}

.venuesOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0) 0%,
    var(--color-charcoal) 100%
  );
}

.venuesBadge {
  position: relative;
  align-self: flex-start;
}

.venuesContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin-top: var(--space-80);

  @media (min-width: 768px) {
    margin-top: var(--space-120);
  }
}

.venuesName {
  color: var(--color-white);
}

.venuesAddress {
  color: var(--color-cream);
}

.venuesDescription {
  color: var(--color-cream);
}
